<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
        <link rel="shortcut icon" href="resources/img/logo-app/logoOficial.ico">
        <link rel="stylesheet" href="resources/css/css-library/bootstrap.css">
        <link rel="stylesheet" href="resources/css/css-library/open-iconic-bootstrap.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="resources/css/css-app/index-app.css">

        <link rel="stylesheet" href="resources/css/css-library/toastr.min.css" type="text/css">

        <script src="resources/js/js-library/jquery.min.js"></script>
        <script src="resources/js/js-library/bootstrap.bundle.min.js"></script>
        <script src="resources/js/js-library/angular.js" type="text/javascript"></script>
        <script src="resources/js/js-library/sweetalert2.min.js" type="text/javascript"></script>
        <script src="resources/js/js-library/store2.min.js" type="text/javascript"></script>
        <script src="resources/js/js-library/toastr.min.js" type="text/javascript"></script>
    </head>
    <body ng-controller="controller">
        <div class="container mt-4">
            <img src="resources/img/logo-app/logoTDDT4IOTSicon.svg" width="150" alt="logo"/>

            <div class="container-fluid mt-4 mb-4 w-50" ng-show="ResetVisible === true">
                <h2><strong> Reset your password </strong></h2>
                <p class="small">
                    Start using our world-class design and development tools for apps, navigation, AR, and data visualization.
                    Already have an account?
                    <a href="index.html">Log In</a>
                </p>
                <form name="form_reset" ng-submit="resetPwd(form_reset)">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Email:</label>
                        <input name="user_email" ng-model="user_email" type="email"
                               ng-class="(form_reset.user_email.$invalid &&
                                                       form_reset.user_email.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required>
                        <div class="invalid-feedback">
                            Please choose a email.
                        </div>
                    </div>

                    <button ng-disabled="form_reset.$invalid" type="submit"
                            class="btn button-d float-right"> Send reset password email
                    </button>
                    <button class="btn button-ds float-right mr-3" type="button" ng-click="changePanle(false, form_reset)">
                        I have a code
                    </button>
                </form>
            </div>
            <!--cambiar mi contraseña-->
            <div class="container-fluid mt-4 mb-4 w-50" ng-show="ResetVisible === false">
                <h2><strong> Change your password </strong></h2>
                <p class="small">
                    Start using our world-class design and development tools for apps, navigation, AR, and data visualization.
                    Already have an account?
                    <a href="index.html">Log In</a>
                </p>
                <form name="form_reset_change" ng-submit="changePwd(form_reset_change)">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Email:</label>
                        <input name="chpwd_email" ng-model="chpwd_email" type="email"
                               ng-class="(form_reset_change.chpwd_email.$invalid &&
                                                       form_reset_change.chpwd_email.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required>
                        <div class="invalid-feedback">
                            Please choose a email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Code:</label>
                        <input name="chpwd_code" ng-model="chpwd_code" type="text"
                               ng-class="(form_reset_change.chpwd_code.$invalid &&
                                                       form_reset_change.chpwd_code.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required>
                        <div class="invalid-feedback">
                            Please enter the code.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Password:</label>
                        <input name="chpwd_pwd" ng-model="chpwd_pwd" type="password"
                               ng-class="(form_reset_change.chpwd_pwd.$invalid &&
                                                       form_reset_change.chpwd_pwd.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'"
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}/" required>
                        <div class="invalid-feedback">
                            Please enter the new password.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm">Confirm Password:</label>
                        <input name="chpwd_cpwd" ng-model="chpwd_cpwd" type="password"
                               ng-class="(form_reset_change.chpwd_cpwd.$invalid &&
                                                       form_reset_change.chpwd_cpwd.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'"
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}/" required>
                        <div class="invalid-feedback">
                            Please confirm the confirm password
                        </div>
                    </div>

                    <div style="font-size: 14px"
                         ng-show="!form_reset_change.chpwd_pwd.$invalid && !form_reset_change.chpwd_pwd.$invalid.pattern">
                        <p class="text-success">
                            <span class="oi oi-circle-check small"></span> Must contain at least 6 characters </p>
                        <p class="text-success">
                            <span class="oi oi-circle-check small"></span> Must contain at least one capital letter </p>
                        <p class="text-success">
                            <span class="oi oi-circle-check small"></span> Must contain at least one number </p>
                    </div>
                    <div style="font-size: 14px"
                         ng-show="!form_reset_change.chpwd_pwd.$pristine && form_reset_change.chpwd_pwd.$error.pattern && form_reset_change.chpwd_pwd.$dirty">
                        <p class="text-danger">
                            <span class="oi oi-circle-x small"></span> Must contain at least 6 characters </p>
                        <p class="text-danger">
                            <span class="oi oi-circle-x small"></span> Must contain at least one capital letter </p>
                        <p class="text-danger">
                            <span class="oi oi-circle-x small"></span> Must contain at least one number </p>
                    </div>

                    <div ng-show="(form_reset_change.chpwd_pwd.$viewValue.length > 0 &&
                                            form_reset_change.chpwd_cpwd.$viewValue.length > 0) && (form_reset_change.chpwd_pwd.$viewValue ===
                                            form_reset_change.chpwd_cpwd.$viewValue)" class="text-success small" style="font-size: 14px">
                        <p class="text-success">
                            <span class="oi oi-circle-check small"></span>
                            Passwords are the same
                        </p> 
                    </div>

                    <div ng-show="(form_reset_change.chpwd_pwd.$viewValue.length > 0 &&
                                            form_reset_change.chpwd_cpwd.$viewValue.length > 0) && (form_reset_change.chpwd_pwd.$viewValue !==
                                            form_reset_change.chpwd_cpwd.$viewValue)" style="font-size: 14px">
                        <p class="text-danger small">
                            <span class="oi oi-circle-x"></span>
                            Passwords are not the same
                        </p>
                    </div>

                    <button ng-disabled="form_reset_change.$invalid"
                            type="submit" class="btn button-d float-right"> Change Password
                    </button>

                    <button type="button" class="btn button-ds float-right mr-3" ng-click="changePanle(true, form_reset_change)">
                        Request Code
                    </button>
                </form>
            </div>
        </div>
        <script src="resources/js/js-global/utils_url.js" type="text/javascript"></script>
        <script src="resources/js/js-global/js_global.js" type="text/javascript"></script>
        <script src="resources/js/js-global/jsAlertPersonalize.js" type="text/javascript"></script>
        <script src="resources/js/js-resetpassword.js" type="text/javascript"></script>
    </body>
</html>
