<div class="container-fluid m-auto w-75">

    <!-- Page Heading -->
    <div class="page-title d-flex flex-column me-5">
        <h5 class="d-flex flex-column text-dark fw-bolder fs-3 mb-0">Dashboard</h5>
        <ul class="breadcrumb fw-bold fs-7 small">
            <li class="breadcrumb-item text-muted">
                <a href="app.html#!/home" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item text-muted">
                <a href="app.html#!/home" class="text-muted text-hover-primary">Dashboard</a>
            </li>
        </ul>
        <!--end::Breadcrumb-->
    </div>

    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                My Projects
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{queryHome.countproject}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cubes fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Projects
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{queryHome.counttotalproject}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-share-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Componentes IoT
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{queryHome.countcomponents}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-wrench fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Registered Users
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{queryHome.userregister}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Area Simbol -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4" style="max-height: 535px;">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">News Highlights - Latest projects</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="overflow: auto;">
                    <div class="media mb-2" ng-repeat="dom_myprojects in projects_recent">
                        <img src="resources/img/img-app/proyecto.svg" class="align-self-center mr-3" alt="..."
                             width="70">
                        <div class="media-body">
                            <div style="font-size: 12px">
                                <strong> Creation date: </strong> {{dom_myprojects.creationdate_mp.split("T")[0]}}
                            </div>
                            <h5 class="mt-0 text-dark" style="margin-bottom: -5px;"><strong> {{dom_myprojects.name_mp}} </strong></h5>
                            <span style="font-size: 12px"> {{dom_myprojects.description_mp}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4" style="max-height: 535px">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">Symbols to describe use cases</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="overflow: auto;">
                    <table class="table table-sm table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Symbols</th>
                                <th scope="col">Description</th>              
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr ng-repeat="keyinterpret in interpret" ng-click="loadExample(keyinterpret)" style="cursor: pointer">
                                <th scope="row" style="text-align: center">
                                    <span class="badge badge-light">
                                        {{keyinterpret.simbol}}
                                    </span>
                                </th>
                                <td> 
                                    <!-- span class="badge badge-success"> 
                                        {{keyinterpret.ascii.trim()}} 
                                    </span -->
                                    <span style="font-size: 75%">
                                         {{keyinterpret.description}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
